* {
    box-sizing: border-box;
}
.row {
    margin: 15px;
}
#trainJumbotron {
    border-style: solid;
    border-color: blue;
    padding: 15px;
    text-align: center;

}

#trainSchedule {
    border-style: solid;
    border-color: blue;
    padding: 15px;

}

#trainAdder {
    border-style: solid;
    border-color: blue;
    padding: 15px;

}